nav, .top-bar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
nav{
	border-bottom: 1px solid #ccc;
	background: white;
	z-index: 0;
}
.top-bar{
	padding: 10px;
	margin: 0 0;
	text-align: center;
	z-index: 2333;
}
.bgcolor-info{
	background: #ddf4ff;
}
.close-button{
	position: absolute;
	right: 10px;
	top: auto;
	text-align: right;
	padding: 0;
}
.close-button::after{
	content: "x";
	font-family: sans-serif;
	color: blue;
}
.close-button:hover{
	text-decoration: underline;
}
main{
	position: absolute;
	z-index: 0;
}
