/* {
	overflow: auto;
} */
*[disabled] {
	cursor: not-allowed !important;
	color:#cccccc;
}
a[disabled] {
	text-decoration: none;
}
a, button, .button, .btn {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}
